<launch>
	<arg name="multirobot" default="false" />

	<param name="/use_sim_time" value="true"/>  


    <!-- Single robot -->

    <group unless="$(arg multirobot)">


	  <!-- overwriting these args -->
          <arg name="debug" default="false" />
          <arg name="gui" default="true" />
          <arg name="pause" default="false" />
          <arg name="world" default="$(find er_demo)/maps/ER_floorplan.world" />

          <!-- include gazebo_ros launcher -->
          <include file="$(find gazebo_ros)/launch/ER_floorplan.launch">
                  <arg name="world_name" value="$(arg world)" />
                  <arg name="debug" value="$(arg debug)" />
                  <arg name="gui" value="$(arg gui)" />
                  <arg name="paused" value="$(arg pause)" />
                  <arg name="use_sim_time" value="true" />
          </include>


    </group>


    <!-- Multi-robot -->

    <group if="$(arg multirobot)">

	  <node pkg="stage_ros" type="stageros" name="stageros" 
            args="$(find er_demo)/maps/ER_map_4robots.world" respawn="false">
	    <param name="base_watchdog_timeout" value="0.2"/>

	    <remap from="/robot_0/base_scan" to="/robot_0/scan" />
	    <remap from="/robot_1/base_scan" to="/robot_1/scan" />
	    <remap from="/robot_2/base_scan" to="/robot_2/scan" />
	    <remap from="/robot_3/base_scan" to="/robot_3/scan" />

	  </node>

    </group>


</launch>

